@use '@/static/styles/package' as *;
#invoice-chart {
  height: auto;
  #chart-selector {
    display: flex;
    justify-content: center;

    .item {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      label {
        display: flex;
        align-items: center;
        color: $color-white;
        background-color: $color-sub-main;
        border-radius: 5px;
        padding: 5px 10px;
        font-weight: 600;
        cursor: pointer;

        i {
          font-size: 20px;
          margin: {
            top: 2px;
            left: 3px;
          }
        }
      }
    }
  }

  #pi-chart {
    .header-3 {
      font-size: 20px;
      font-weight: 600;
      border-top: 1px solid $color-gray-600;
      padding: 10px 4px;
      margin: 0;
    }

    #pi-table {
      > .row {
        align-items: center;
        border-top: 1px solid $color-gray-400;
        padding: 8px 4px;

        .item-bar {
          .item-amount {
            text-align: end;
          }
        }
      }
    }
  }

  #bar-chart {
    position: relative;
  }
  #bar-display {
    position: absolute;
    background-color: $color-black;
    color: $color-white;
    border-radius: 4px;
    opacity: 0;
    font-size: 14px;
    padding: 4px;

    &:not(.hidden2) {
      opacity: 0.65;
      transition-duration: 0.25s;
    }
  }
}

svg {
  height: 400px;
  width: 800px;
}

.grid-line {
  stroke: lightgrey;
  stroke-width: 1;
}
.grid-number {
  vertical-align: center;
  text-anchor: end;
  font-size: 14;
}
.connection-line {
  stroke: lightblue;
  stroke-width: 2;
}
.date-circle {
  stroke: black;
  stroke-width: 2;
  fill: white;
  r: 3;
  &:hover {
    r: 4;
  }
}
.header-3 {
  font-size: 18px;
  margin: 15px 0px;
}
.date-number {
  font-size: 0.8rem;
  text-anchor: middle;
  &.selected {
    opacity: 1;
  }
  &:not(.selected) {
    opacity: 0.5;
    transition-duration: 0.2s;
  }
}
h3 {
  font-size: 1.2rem;
  margin: 10px;
}
.item-bar {
  margin: 5px;
}
.item-color-bar {
  background-color: grey;
  margin-right: 10px;
}

.item-amount {
  width: 100px;
}
