@use '@/static/styles/package' as *;

#invoice-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 36px repeat(5, 1fr);

  .cell {
    @include calendar-cell();

    &.date-cell {
      height: calc(#{$width-container} / 7);

      &.other-month {
        * {
          opacity: 0.3;
        }
      }
    }
  }
}
