@use '@/static/styles/package' as *;

#invoice-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 36px repeat(5, 1fr);

  .cell {
    @include calendar-cell();

    .date,
    .day {
      color: $color-gray-800;
    }

    &.date-cell {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(#{$width-container} / 7);

      &.other-month {
        * {
          opacity: 0.5;
        }
      }

      .sum-wrapper {
        align-self: flex-end;

        .sum {
          font-size: 15px;
          font-weight: 600;
          margin-top: 4px;
          letter-spacing: 0.4px;

          &.earning-sum {
            color: $color-main;
          }

          &.spending-sum {
            color: $color-complementary;
          }
        }
      }
    }
  }
}
